.container{
    margin-top:30px;
}

.title{
    font-weight: 700;
    font-size: 28px;
}

.progress-title{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
.step{
    font-weight: 700;
    font-size: 17px;
}
.number{
    padding: 3px 10px;
    border-radius: 50px;
    margin-left: 20px; 
    border: 1px solid rgba(42, 42, 42, 0.2);
}



input[type=text]{
    padding: 10px 18px;
}
.btn-step{
    margin: 15px 15px;
    background-color: #4a2f9a;
    color: #ffffff !important;
    border: 1px solid #ffffff;
    padding: 15px 35px;
    font-size: 18px;
    text-align: center;
}


.btn-step:hover{
    margin: 15px 15px;
    background-color: #4a2f9a;
    color: #ffffff !important;
    border: 1px solid #ffffff;
    padding: 15px 35px;
    font-size: 18px;
    text-align: center;
}

label{
    font-size: 16px;
}


.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
  }

  .disabled{
    opacity: 0.3;
   
  }


  @media only screen and (max-width: 768px) {

    .sticky {
        position: initial;
      }
    }

    .ng-autocomplete {
        width: 100%; 
    }

    .invalid-feedback{
        color:red;
    }