.what-section{
    margin-top: 20px;
}

.what-form{
    padding: 20px;
}

.what-form h2{
   margin-bottom: 35px;
}

.what-form-col{
    padding-right: 0px;
}
.btn-find-jobs{
    background-color: #4a2f9a !important;
    border-color: #4a2f9a !important;
    color: #fff !important;
    padding: 12px 22px;
    font-weight: 700;
    border-radius: 9px;
    outline: none;
}



.what-form-col .input-what-group{
   
    border-radius:9px;
    padding: 0;
    margin: 0;
    box-shadow: 3px 2px 10px 1px rgba(0,0,0,.08);
}


.what-form-col .input-what{
    background-color: #fff;
    box-shadow:none;
    font-weight: 700;
    border-radius: 0px 0px 0px 0px;
    padding: 22px 4px 23px 4px;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}



.what-form-col .input-group-addon.what{
    background-color: transparent;
    border-radius: 9px 0 0 9px;
    font-weight: 700;
    font-family: Hack, monospace; 
}

.what-form-col  .input-group-addon.search{
    background-color: transparent;
    border-radius: 0px 9px 9px 0px;
    font-weight: 700;
    font-size: 16px;
    font-family: Hack, monospace; 
}


.recent-searches .list-group-item {
    position: relative;
    display: block;
    padding: 18px 15px;
    margin-bottom: 5px;
    background-color: #fff;
    border: 0px solid #ddd;
}

.panel-search {
    margin-bottom: 20px;
    background-color: #fff;
     border: none;
    border-radius: 4px;
}

.panel-search>.panel-heading {
    color: #333;
     background-color: transparent; 
    border-color: #ddd;
}

.panel-search .panel-heading {
    padding: 10px 15px;
    border-bottom:none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.panel-search .panel-heading h3{
    font-weight: 700;
    font-size: 16px;
    font-size: 15px;
}

.panel-search .btn-suggestion{
    border-radius:9px;
    padding: 8px 26px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #ececec;
}

.btn-suggestion .fa-search{
    color: #4a2f9a !important;
    font-size: 15px;
}

.panel-post{
      border-radius:9px;
      margin-bottom: 10px;
      cursor: pointer;
      position: relative;
}

.panel-post:hover {
  box-shadow: 3px 2px 10px 1px rgba(0,0,0,.08) !important;
}

.logo-societe{
    width: 100px;
    position: absolute;
    right: 43px;
    top:25px
}
.col-post{
    padding-right: 0;
}
.col-email{
    border-radius:0px;
}

.panel-email{
    border-radius:0px;
}
.panel-email input{
    border-radius:3px;
}

.panel-email .panel-heading{
font-size: 13px;
background-color: transparent;

}

.activate{
    background-color: #ffffff !important;
    color: #000000;
    border-radius:3px;
}


.panel-email .input-group-addon{
    background-color: transparent !important;
}

.col-post a{
    color: unset;
    text-decoration: none;
}

.programming{
    font-family: Hack, monospace; 
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 14px;
  }


  .custom-select{
    border-radius: 9px;
    padding: 1px 20px;
    font-size: 15px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #ececec;
    color: #333;
    border-color: #ccc;
    box-sizing: content-box;
    text-align: center;
    box-shadow: none !important;
  }

  #select1,#select2 {

    /* styling */
    background-color: #ececec;
     color: #333;
    border: thin solid #ccc;
    border-radius: 9px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 4em 0.5em 2.5em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  
  /* arrows */
  
  
  
  
  #select1,#select2.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
  }
  
  #select1,#select2.minimal:focus {
    background-image:
      linear-gradient(45deg, #ccc 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, #ccc 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color: #ccc;
    outline: 0;
  }
  
  
  #select1,#select2:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  


  


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
  
    .what-section{
        margin-top: 0;
    }
    
    .what-form{
        padding: 20px;
    }

    .what-form-col{
        padding-right:15px;
    }

    .btn-find-jobs{
        padding: 8px 22px;
        font-weight: 600;
        margin-top: 10px;
        outline: none;

    }

    .col-post{
        padding-right:15px;
    }

  }


  /** loading **/


  @-webkit-keyframes moving-gradient {
    0% {
      background-position: -250px 0;
    }
    100% {
      background-position: 250px 0;
    }
  }

 
.loading-small {
    height: 12px;
    background: linear-gradient(to right, #eee 20%, #ddd 50%, #eee 80%);
    background-size: 500px 100px;
    animation-name: moving-gradient;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  
  .small1{
      width: 100%;
      height: 15px;
  }

  .small2{
    width: 35%;
}

.small3{
    width: 20%;
}


.loading-big {
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100px;
  }